[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/ecubesolutions.in/venv/smart_signal
ExecStart=/home/ubuntu/ecubesolutions.in/venv/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/ecubesolutions.in/venv/smart_signal/run/gunicorn.sock smart_signal.wsgi:application

[Install]
WantedBy=multi-user.target
