<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cilent's menu</title>
</head>
<body bgcolor="#33a5ff" >
<div class="sidenav">
     <h5 class="w3-bar-item">Navigations</h5>
         <ul class="list">
                <li><a href="addclient">Add new client</a></li>
                <li><a href="show_clients">Show all clients</a></li>
                <li><a href="show_signals">Show all signals</a></li>
                <li><a href="show_clients">Delete client</a></li>
         </ul>
</div>

<br><br>
 <p><a href="{% url 'home' %}">Home</a></p>
 
</body>
</html>
