{% load static %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>Upload video page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="{% static 'components/SmartSignalHeader/SmartSignalHeader.js'%}"></script>
  <style>
    table {
      border: none
    }
  </style>
</head>

<body>

  <smart-signal-header name="{{user.first_name}}" isAuthenticated="{{user.is_authenticated}}"></smart-signal-header>
  {% csrf_token %}
  {% block content %}

  {% if user.is_superuser %}
  <script type="text/javascript" src="{% static 'components/SmartSignalSidebar/smartSignalSidebarAdmin.js'%}"></script>
  <smart-signal-sidebar-admin></smart-signal-sidebar-admin>
  {% else %}
  <script type="text/javascript" src="{% static 'components/SmartSignalSidebar/smartSignalSidebarUser.js'%}"></script>
  <smart-signal-sidebar-user name="{{ user }}"></smart-signal-sidebar-user>
  {% endif %}
  <div class="ss-main-container">
    <img class="ss-default-bg" src="/static/images/Ecube_logo.png" />
    <form action="get_cctv_feed" method="POST" enctype="multipart/form-data">
     
            <input type="submit" value="Upload video" name="submit" id="uploadBtn" disabled/>
     
        {% endblock %}
     <div class="footer">
        <p>Developed by Ecube integrated solutions (OPC) private limited </p>
      </div>
    </form>
    <audio id="audio"></audio>
  </div>
  <script>

  var actual_vid_length = 0;
  document.getElementById('audio').addEventListener('canplaythrough', function(e){
    actual_vid_length = Math.round(e.currentTarget.duration);
    var expected_max_vdo_length = parseInt($("#video_length").val())
    var difference_in_duration = expected_max_vdo_length - actual_vid_length 
    if (expected_max_vdo_length < actual_vid_length &&  Math.abs(difference_in_duration) > 5) {
      alert('Video length does not match with input video length. Please choose another video')
    } else if (expected_max_vdo_length > actual_vid_length && Math.abs(difference_in_duration) > 5){
	 alert('Video length does not match with input video length. Please choose another video')
	 }
	else {
      $('#uploadBtn').prop('disabled', false);
    }
    URL.revokeObjectURL(obUrl);
  });
  
  var obUrl;
  document.getElementById('fileToUpload').addEventListener('change', function(e){
    var file = e.currentTarget.files[0];
    if(file.name.match(/\.(avi|mp3|mp4|mpeg|ogg)$/i)){
      obUrl = URL.createObjectURL(file);
      document.getElementById('audio').setAttribute('src', obUrl);
    }
  });



  </script>

</body>

</html>
